:root {
  --blue-glow-color: hsl(186, 98%, 49%);
  --red-glow-color: hsl(334, 98%, 50%);
}
body {
  background-color: #102749;
  margin: 0px auto;
  font-family: 'Poppins', sans-serif;
}
.title {
  font-weight: bolder;
  font-size: 40px;
  margin-top: -30px;
}

.brickImage {
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.circleLight2 {
  position: absolute;
  top: -70px;
  right: -50px;
  margin: 6%;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  z-index: 9999;
  box-shadow: 0px 1px 60px var(--red-glow-color);
  background: none;
  -webkit-box-shadow: inset 0px 0px 2em 0px var(--red-glow-color),
    0px 0px 2em 0px var(--red-glow-color);
  -moz-box-shadow: inset 0px 0px 2em 0px var(--red-glow-color),
    0px 0px 2em 0px var(--red-glow-color);
  box-shadow: inset 0px 0px 2em 0px var(--red-glow-color),
    0px 0px 2em 0px var(--red-glow-color);
  animation: border-flicker 2s linear infinite;
}

.circleLight {
  position: absolute;
  top: 20px;
  right: -50px;
  margin: 6%;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  z-index: 9999;
  box-shadow: 0px 1px 60px var(--red-glow-color);
  background: none;
  -webkit-box-shadow: inset 0px 0px 2em 0px var(--red-glow-color),
    0px 0px 2em 0px var(--red-glow-color);
  -moz-box-shadow: inset 0px 0px 2em 0px var(--red-glow-color),
    0px 0px 2em 0px var(--red-glow-color);
  box-shadow: inset 0px 0px 2em 0px var(--red-glow-color),
    0px 0px 2em 0px var(--red-glow-color);
  animation: border-flicker 2s linear infinite;
}
.contentBox {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px auto;
  left: 0px;
  color: white;
}
.textBox {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px auto;
  left: 0px;
  height: 60vh;
  margin: 6%;
}
.lights {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px auto;
  left: 0px;
  margin: 4%;
  height: 85vh;
  border-radius: 1em;
  box-shadow: 0px 1px 60px var(--blue-glow-color);
  background: none;
  -webkit-box-shadow: inset 0px 0px 2em 0px var(--blue-glow-color),
    0px 0px 2em 0px var(--blue-glow-color);
  -moz-box-shadow: inset 0px 0px 2em 0px var(--blue-glow-color),
    0px 0px 2em 0px var(--blue-glow-color);
  box-shadow: inset 0px 0px 2em 0px var(--blue-glow-color),
    0px 0px 2em 0px var(--blue-glow-color);
  animation: border-flicker 2s linear infinite;
}
@keyframes border-flicker {
  0% {
    opacity: 0.2;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.2;
  }
  8% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.textBox {
  text-align: center;
}
.inputBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.051);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.187);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.inputItem {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.187);
  padding: 8px 0px;
  width: 350px;
  font-size: 17px;
  color: white;
  outline: none;
  font-weight: 100;
}
::placeholder {
  color: rgba(255, 255, 255, 0.374);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: rgb(190, 190, 190);
}
.submitBtn {
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  border-radius: 6px;
}

@media (max-width: 700px) {
  .inputItem {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.187);
    padding: 2px 0px;
    width: 220px;
    font-size: 17px;
    color: white;
    outline: none;
    font-weight: 100;
  }
}
